* {
  color: black;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  text-decoration: none;
}

body {
  background-image: radial-gradient(circle, #00ff598f 1.5px, white 1px);
  background-size: 30px 30px;
}

.navigation-menu {
  background-color: black;
  z-index: 1;
  height: 5vh;
}

ul,
li {
  list-style-type: none;
}

.navigation-menu ul {
  display: inline;
  overflow: hidden;
}

.navigation-menu ul li {
  color: white;
}

.navigation-menu ul li:first-child {
  padding: 6px;
  margin-left: 100px;
  float: left;
}

.navigation-menu ul li:last-child {
  padding: 10px;
  float: left;
}

button {
  border: none;
  background-color: #1db954;
  padding: 10px;
  border-radius: 10px;
  transform: scale(0.9);
  color: black;
}

.navigation-menu img {
  display: inline;
  height: 27px;
  width: 27px;
}

.recommend-btn {
  text-align: center;
}

.recommend-btn:hover {
  transition: 0.5s;
  transform: scale(1);
}

.main-container {
  margin: 40px;
  text-align: center;
}

.main-container input {
  color: black;
  background-color: transparent;
  display: inline-block;
  height: 40px;
  border: none;
  border-bottom: 3px solid #1db954;
  padding: 0px 0px 0px 0px;
  width: 50%;
  outline: none;
  text-align: center;
  font-size: 20px;
}

.recommended-songs {
  display: flex;
  align-items: center;
  justify-content: center;
}

.recommended-songs div {
  width: 130vh;
  height: 60vh;
  border-radius: 10px;
  text-align: center;
}

a:hover {
  color: #1db954;
}
